img {
  width: 500px;
}
div {
  margin: auto;
  text-align: center;
  width: 500px;
  height: 300px;
  display: inline-block;
  overflow: hidden;
}
/* div:first-child {
   margin-right: 1%; 
} */
h1 {
  font-size: 33px;
  color: black;
}
